:root {
  --color-primary-50: #EBF5FF;
  --color-primary-100: #E1EFFE;
  --color-primary-600: #1C64F2;
  --color-primary-700: #1A56DB;
  --color-neutral-200: #E5E7EB;
  --color-neutral-800: #1F2937;
  --color-neutral-900: #111827;
}

.dark {
  --color-primary-50: #111827;
  --color-primary-100: #1F2937;
  --color-primary-600: #3F83F8;
  --color-primary-700: #76A9FA;
  --color-neutral-200: #4B5563;
  --color-neutral-800: #F3F4F6;
  --color-neutral-900: #F9FAFB;
}
